<!doctype html>
<html lang="en" class="dark">
  <head>
    <!-- Allows live tweaking -->
    <script src="https://tweakcn.com/live-preview.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G0Q1B9GRC0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G0Q1B9GRC0');
    </script>


    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/c/chronicle/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Chronicle transforms Classic World of Warcraft raid logs into clear, actionable insights for raid leaders." />
    
    <!-- Open Graph / Social -->
    <meta property="og:title" content="{{ if .OGTitle }}{{ .OGTitle }}{{ else }}Chronicle - WoW Raid Log Analysis{{ end }}" />
    <meta property="og:description" content="{{ if .OGDescription }}{{ .OGDescription }}{{ else }}Transform Classic World of Warcraft raid logs into clear, actionable insights for raid leaders.{{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .OGURL }}" />
    <meta property="og:logo" content="https://chronicleclassic.com/c/chronicle/ChronicleIcon.png" />
    
    <meta property="GitCommit" content="{{ .GitCommit }}" />
    <meta property="GitTag" content="{{ .GitTag }}" />
    <meta property="BuildTime" content="{{ .BuildTime }}" />
    <title>Chronicle</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
